PORT=8000
MONGODB_URI=mongodb+srv://manyashukla1:MANYAshukl%401@quick-management-system.jrwi6ed.mongodb.net/interview?retryWrites=true&w=majority
JWT_SECRET=493bdc87b7b3ade6deb81cfd35ab533a
JWT_EXPIRES_IN=7d
SEED_ADMIN_PHONE=8005586588
SEED_ADMIN_NAME=Super Admin
SEED_ADMIN_PASSWORD=1234567890
